[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "libs/yaml-cpp"]
	path = libs/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libs/sdl2"]
	path = libs/sdl2
	url = https://github.com/libsdl-org/SDL.git
